In [ ]:
import pandas as pd
import numpy as np

In [ ]:
data1 = [5,4,2,8,0,1]
sr1 = pd.Series(data1)

In [ ]:
sr1.values

array([5, 4, 2, 8, 0, 1], dtype=int64)

In [ ]:
sr1[2]

2

In [ ]:
sr2 = pd.Series([4,7,1,-2], index=['b','d','f','c'])
sr2['d']

7

In [ ]:
sr2*2

b     8
d    14
f     2
c    -4
dtype: int64

In [ ]:
np.exp(sr2)

b      54.598150
d    1096.633158
f       2.718282
c       0.135335
dtype: float64

In [ ]:
data = {'university': ['USM', 'UM', 'UPM', 'UKM', 'UTM', 'UiTM', 'UniMAP',
'UTHM'],
'year': [1969, 1905, 1931, 1970, 1972, 1956, 2001, 1993],
'location': ['Pulau Pinang', 'Kuala Lumpur', 'Serdang, Selangor',
'Bangi, Selangor', 'Skudai, Johor', 'Shah Alam, Selangor', 'Arau, Perlis',
'Batu Pahat, Johor']}
fm1 = pd.DataFrame(data)

In [ ]:
fm1.head()

  university  year           location
0        USM  1969       Pulau Pinang
1         UM  1905       Kuala Lumpur
2        UPM  1931  Serdang, Selangor
3        UKM  1970    Bangi, Selangor
4        UTM  1972      Skudai, Johor

In [ ]:
fm1['university']

0       USM
1        UM
2       UPM
3       UKM
4       UTM
5      UiTM
6    UniMAP
7      UTHM
Name: university, dtype: object

In [ ]:
fm1['year']

0    1969
1    1905
2    1931
3    1970
4    1972
5    1956
6    2001
7    1993
Name: year, dtype: int64

In [ ]:
fm1.loc[3]

university                UKM
year                     1970
location      Bangi, Selangor
Name: 3, dtype: object

In [ ]:
fm1.loc[8] = {'year': 2000, 'university': 'UteM', 'location': 'Durian, Melaka'}

In [ ]:
fm1.drop(7)

  university  year             location
0        USM  1969         Pulau Pinang
1         UM  1905         Kuala Lumpur
2        UPM  1931    Serdang, Selangor
3        UKM  1970      Bangi, Selangor
4        UTM  1972        Skudai, Johor
5       UiTM  1956  Shah Alam, Selangor
6     UniMAP  2001         Arau, Perlis
8       UteM  2000       Durian, Melaka

In [ ]:
s1 = pd.Series([82160,4108], index=['cost','duration'])
s2 = pd.Series([602,30.1], index=['cost','duration'])
print(s1)
print(s2)

cost        82160
duration     4108
dtype: int64
cost        602.0
duration     30.1
dtype: float64

In [ ]:
fm2 = pd.concat([s1,s2], axis=1)

In [ ]:
fm1.to_csv('uni_in_malay.csv', sep=';', header=True, index=False)

In [ ]:
fm2 = pd.read_csv('C:/Users/Arya/Documents/USM/CPC251/diabetes.csv', sep=',')

In [ ]:
fm2.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [ ]:
fm2.mean(axis=0)

Pregnancies                   3.845052
Glucose                     120.894531
BloodPressure                69.105469
SkinThickness                20.536458
Insulin                      79.799479
BMI                          31.992578
DiabetesPedigreeFunction      0.471876
Age                          33.240885
Outcome                       0.348958
dtype: float64

In [ ]:
fm2.var(axis=0)

Pregnancies                    11.354056
Glucose                      1022.248314
BloodPressure                 374.647271
SkinThickness                 254.473245
Insulin                     13281.180078
BMI                            62.159984
DiabetesPedigreeFunction        0.109779
Age                           138.303046
Outcome                         0.227483
dtype: float64

In [ ]:
fm2.describe()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,120.894531,69.105469,20.536458,79.799479,31.992578,0.471876,33.240885,0.348958
std,3.369578,31.972618,19.355807,15.952218,115.244002,7.884160,0.331329,11.760232,0.476951
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.300000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,30.500000,32.000000,0.372500,29.000000,0.000000
75%,6.000000,140.250000,80.000000,32.000000,127.250000,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

In [ ]:
corr_matrix=fm2.corr()

In [ ]:
corr_matrix

In [ ]:
cov_matrix = fm2.cov()

In [ ]:
cov_matrix

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
Pregnancies,11.354056,13.947131,9.214538,-4.390041,-28.555231,0.469774,-0.037426,21.570620,0.356618
Glucose,13.947131,1022.248314,94.430956,29.239183,1220.935799,55.726987,1.454875,99.082805,7.115079
BloodPressure,9.214538,94.430956,374.647271,64.029396,198.378412,43.004695,0.264638,54.523453,0.600697
SkinThickness,-4.390041,29.239183,64.029396,254.473245,802.979941,49.373869,0.972136,-21.381023,0.568747
Insulin,-28.555231,1220.935799,198.378412,802.979941,13281.180078,179.775172,7.066681,-57.143290,7.175671
BMI,0.469774,55.726987,43.004695,49.373869,179.775172,62.159984,0.367405,3.360330,1.100638
DiabetesPedigreeFunction,-0.037426,1.454875,0.264638,0.972136,7.066681,0.367405,0.109779,0.130772,0.027472
Age,21.570620,99.082805,54.523453,-21.381023,-57.143290,3.360330,0.130772,138.303046,1.336953
Outcome,0.356618,7.115079,0.600697,0.568747,7.175671,1.100638,0.027472,1.336953,0.227483